<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="cl.entel.plugins.NewDPPlugin" version="0.2.3">
    <name>NewDPPlugin</name>
    <description>Cordova New DigitalPersona Plugin</description>
    <keywords>cordova,DigitalPersona</keywords>
    <repo>https://github.com/cardiles/cordova-newdpplugin.git</repo>

    <js-module src="www/NewDPPlugin.js" name="NewDPPlugin">
        <clobbers target="cl.entel.plugins.NewDPPlugin" />
    </js-module>

     <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="NewDPPlugin" >
                <param name="android-package" value="cl.entel.plugins.NewDPPlugin.NewDPPlugin"/>
            </feature>
        </config-file>

        <source-file src="src/android/NewDPPlugin.java" target-dir="src/cl/entel/plugins/NewDPPlugin" />
    </platform>

    <lib-file src="src/android/libs/dpuareu.jar"/>
    <resource-file src="src/android/libs/armeabi/libdpfj.so"          target="jniLibs/armeabi/libdpfj.so" />
    <resource-file src="src/android/libs/armeabi/libdpfpdd_tcd58.so"  target="jniLibs/armeabi/libdpfpdd_tcd58.so" />
    <resource-file src="src/android/libs/armeabi/libdpfpdd.so"        target="jniLibs/armeabi/libdpfpdd.so" />
    <resource-file src="src/android/libs/armeabi/libdpfpdd5000.so"    target="jniLibs/armeabi/libdpfpdd5000.so" />
    <resource-file src="src/android/libs/armeabi/libdpfr6.so"         target="jniLibs/armeabi/libdpfr6.so" />
    <resource-file src="src/android/libs/armeabi/libdpfr7.so"         target="jniLibs/armeabi/libdpfr7.so" />
    <resource-file src="src/android/libs/armeabi/libdpuareu_jni.so"   target="jniLibs/armeabi/libdpuareu_jni.so" />
    <resource-file src="src/android/libs/armeabi/libdpuvc.so"         target="jniLibs/armeabi/libdpuvc.so" />

</plugin>