<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="cl.entel.plugins.NewDPPlugin" version="0.2.3">
    <name>NewDPPlugin</name>
    <description>Cordova New DigitalPersona Plugin</description>
    <keywords>cordova,DigitalPersona</keywords>
    <repo>https://github.com/cardiles/cordova-newdpplugin.git</repo>

    <js-module src="www/NewDPPlugin.js" name="NewDPPlugin">
        <clobbers target="cl.entel.plugins.NewDPPlugin" />
    </js-module>

     <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="NewDPPlugin" >
                <param name="android-package" value="cl.entel.plugins.NewDPPlugin.NewDPPlugin"/>
            </feature>
        </config-file>

        <source-file src="src/android/NewDPPlugin.java" target-dir="src/cl/entel/plugins/NewDPPlugin" />
    </platform>

</plugin>